<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a style="cursor: pointer;" (click)="onSelect('recipe')">Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onSelect('shopping')">Shopping List</a></li> -->
        <li routerLinkActive="active"><a style="cursor: pointer;" [routerLink]="['/recipes']" *ngIf="isAuthenticated">Recipe</a></li>
        <li routerLinkActive="active"><a style="cursor: pointer;" [routerLink]="['/shopping-list']">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" >
        <li><a style="cursor: pointer;" [routerLink]="['/auth']" *ngIf="!isAuthenticated">Login</a></li>
        <li><a style="cursor: pointer;" (click)="onLogout()"*ngIf="isAuthenticated">Logout</a></li>
        <li class="dropdown" appDropDown *ngIf="isAuthenticated">
          <a style="cursor: pointer;" class="dropdown-toggle">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
